body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #888;
}

ali {
    color: rgb(136, 136, 136);
    text-align: center;
}

h2 {
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: rgb(102, 102, 102);
}

#main {
    text-align: center;
    background-color: rgb(129, 145, 142);
    padding-top: 200px;
    padding-bottom: 250px;
    left: 30px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 400px;
}

#portfolio {
    background-color: #f5fafa;
    padding-top: 20px;
}

body {
    color: #888;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
    padding-top: 60px;
}

img:hover {
    transform: scale(1.1);
}

.port {
    margin-top: 70px;
    margin-bottom: 50px;
}

.p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 3em;
    font: inherit;
    vertical-align: baseline;
    font-weight: 400;
    color: #888;
}

.about {
    text-align: center;
    margin-top: 60px;
}

#about {
    margin-bottom: 110px;
    background-color: #ecf1f1;
    padding-top: 140px;
    padding-bottom: 270px;
}

#contact input {
    width: 100%;
    color: rgb(5, 4, 4);
    padding: 20px 30px;
    margin: 20px 0;
    border: none;
    border-radius: 7px;
    background-color: #fff;
}

#contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    padding-bottom: 20px;
}

nav {
    text-align: center;
    position: sticky;
}


/*  #info {
    margin-bottom: 300px;
}*/

a :hover {
    color: #e27689;
    margin-bottom: 40px;
}

a {
    margin-bottom: 40px;
}


/* * {
    margin-bottom: 50px;
}*/

textarea {
    width: 900px;
}

footer {}